// Heights
$navbar-height: 60px;
$footer-height: 10rem;

// Section Padding
$padding-normal: 0rem 1rem;
$padding-sm: 0rem 2rem;
$padding-md: 0rem 4rem;
$padding-l: 0rem 7rem;
$padding-xl: 0rem 13rem;

// Borders
$b-radius-sm: 5px;
$b-radius-md: 10px;
