@import '../../styles/imports.scss';

.container {
  background-color: rgba(22, 30, 61, 0.8);
  color: $gc-secondary-anti;

  overflow: hidden;

  width: 100vw;
  min-height: calc(50vh - #{$navbar-height} - 0.8rem);

  padding: unset; // override

  display: flex;
  flex-direction: column;
  justify-content: center;

  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    & > img {
      object-position: center;
    }
  }
}

.inner-container {
  position: relative;
  min-height: 25rem;

  padding: 2rem 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h1 {
    margin-bottom: 2rem;
  }

  & > a,
  & > button {
    height: 5rem;
    width: 15rem;
    margin-top: 5rem;
    z-index: 1;

    font-size: 1.3rem;
  }
}

@include xs {
  .inner-container {
    padding-right: 10rem;
  }
}

@include sm {
  .inner-container {
    margin-bottom: 3rem;

    padding: 3rem 3rem;
    padding-right: 50%;
    padding-left: 10%;

    & > h3 {
      margin-left: 2rem;
    }
  }

  .bg-container.bg-container {
    & > img {
      object-position: center;
    }
  }
}

@include l {
  .container {
    min-height: calc(100vh - #{$navbar-height} - 0.8rem);
  }
}
