@import '../../styles/imports.scss';

.container {
  color: $gc-secondary-anti;

  overflow: hidden;

  width: 100vw;
  min-height: calc(50vh - #{$navbar-height});

  padding: unset; // override

  @include l {
    min-height: calc(100vh - #{$navbar-height});
  }

  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    & > img {
      object-position: center;
    }
  }
}

.inner-container {
  min-height: 25rem;
  padding: 0 3rem;
  padding-right: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  & > h2 {
    margin-bottom: 1rem;
  }

  & > h3 {
    margin-left: 2rem;
  }

  & > a,
  & > button {
    height: 5rem;
    width: 15rem;
    margin-top: 5rem;

    font-size: 1.3rem;
  }
}

@include sm {
  .inner-container {
    margin-top: 5rem;
  }

  .bg-container.bg-container {
    & > img {
      object-position: center;
    }
  }
}
