@import '../../styles/imports.scss';

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: $navbar-height;
  z-index: 1000;

  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  transition: height 0.3s ease, background-color 0.3s ease;

  background-color: white;
}

.navContainer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.8;

  list-style: none;
  text-align: center;

  flex-direction: column;
  gap: 10px;

  background-color: white;

  & > li:hover {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
  }

  &.showMenu {
    display: flex;
  }
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;

  color: $logo-dark;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border: none;
  padding: 0;

  cursor: pointer;

  background: none;

  .bar {
    width: 25px;
    height: 3px;

    transition: 0.3s;
    background-color: #333;
  }

  &.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  &.open .bar:nth-child(2) {
    opacity: 0;
  }

  &.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@include l {
  .navbar {
    height: $navbar-height;
    padding: 0;
    background-color: white;

    &.scrolled {
      height: $navbar-height * 0.5;
      background-color: #f8f8f8;

      width: 50vw;
      transform: translateX(50%);
      margin-top: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      padding: 1rem;

      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
  }

  .navContainer {
    max-width: 1200px;
    margin: 0 auto;
  }

  .navLinks {
    position: static;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    gap: 20px;

    border-bottom: unset;
    opacity: 1;

    a {
      font-size: 1rem;
    }

    &.showMenu {
      display: flex;
    }
  }

  .hamburger {
    display: none;
  }
}

.active {
  text-decoration: underline;
}
