@import '../../styles/imports.scss';

.section {
  color: $gc-primary-anti;
  background: $gc-primary;
}

.container {
  min-height: 18rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;

  background: transparent;

  & > h2 {
    margin-bottom: 1rem;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;

  @include sm {
    flex-direction: row;
  }

  .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    height: 10rem;

    & > p {
      text-align: center;
    }

    .icon-wrapper {
      height: 3rem;
      width: 3rem;

      & > svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}
