@import '@styles/imports.scss';

$map-height: 30vh;
$map-height-mobile: 20vh;

.container-contact {
  & > section:nth-child(1) {
  }
  & > section:nth-child(2) {
    height: $map-height-mobile;
  }
}

@include sm {
  .container-contact {
    & > section:nth-child(1) {
      height: calc(100vh - #{$navbar-height} - #{$map-height} - 0.3rem);
    }
    & > section:nth-child(2) {
      height: $map-height;
    }
  }
}

@include l {
  .container-contact {
    & > section:nth-child(1) {
      height: calc(100vh - #{$navbar-height} - #{$map-height} - #{$footer-height});
    }
    & > section:nth-child(2) {
      height: $map-height;
    }
  }
}
