@import '../../styles/imports.scss';

.container {
  top: 1747px;
  left: 770px;
  width: 215px;
  height: 53px;

  padding: 0px 8px;
  border: 0;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  outline: none;

  cursor: pointer;
}

.primary {
  background-color: $gc-primary;
  color: $gc-primary-anti;
}

.secondary {
  background-color: $gc-secondary;
  color: $gc-secondary-anti;
}

.tertiary {
  background-color: $gc-tertiary;
  color: $gc-tertiary-anti;
}
